body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.menu {
	margin-bottom: 1.563rem;
}

.app {
	margin-top: 1.563rem;
}

.pagina {
	border: 1px solid #DFDFDF;
	padding: 1.563rem !important;
}

li.list-group-item.active {
	background-color: #FFF;
	border-color: #009933;
	border-left: 10px solid #009933;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: #009933 !important;
}

a.navbar-brand>img {
	width: 30px;
	height: 30px;
}